<footer class="bg-secondary">
    <div class="row justify-content-evenly pt-4">
        <div class="col-2">
            <ul>
                <p>ABOUT</p>
                <li>Contact Us</li>
                <li>About Us</li>
                <li>Careers</li>
                <li>Press</li>
                <li>Wholesale</li>
                <li>Corporate</li>
            </ul>
        </div>
        <div class="col-2">
            <ul>
                <p>HELP</p>
                <li>Payments</li>
                <li>Shipping</li>
                <li>Cancellation & Returns</li>
                <li>FAQ</li>
                <li>Report</li>
            </ul>
        </div>
        <div class="col-2">
            <ul>
                <p>POLICY</p>
                <li>Return Policy</li>
                <li>Terms Of Use</li>
                <li>Security</li>
                <li>Privacy</li>
                <li>Sitemap</li>
            </ul>
        </div>
        <div class="col-2">
            <ul>
                <p>SOCIAL</p>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>YouTube</li>
            </ul>
        </div>
    </div>
    <div class="row border-top border-light">
        <p class="text-center text-light">&copy;2022 EStore.com</p>
    </div>
</footer>