
<div class="container py-2">
    <div><h1 class=" text-center text-primary">EShop</h1></div>
      
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <h4 class="card-title">Log-In</h4>
            <form>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="Email">
                </div>
          
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="Password">
                </div>
  
                <p class="card-text">By continuing, you agree to EShop's <span class="text-primary">Terms of Use</span> and <span class="text-primary">Privacy Policy.</span> </p>
          
                <div class="d-grid"><button type="submit" class="btn btn-warning" disabled>Login</button></div>
            </form>
            <div class="mt-3">
                <p>New to EShop? <a routerLink="../signup">Create an Account</a></p>
            </div>      
        </div>
    </div>
</div>
  
  